@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif; }

.green {
  background: #04B431 !important; }

.green-light {
  background: #E0F8F7 !important; }

.green-dark {
  background: #0B3B39 !important;
  color: white !important; }

.footer {
  padding: 10px;
  bottom: 0;
  width: 100%; }

.footer a {
  color: white !important;
  text-decoration: none; }

.footer a:visited {
  color: #F2F5A9 !important; }

.json-preview {
  width: 70%;
  margin: auto;
  padding: 15px 5px;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  font-size: 13px;
  overflow: scroll;
  height: 600px; }

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  width: 100%;
  margin: 0px;
  background: #0B3B39;
  color: #E0F8F7; }
  .header h1 {
    font-weight: 900;
    font-size: 45px;
    margin: 10px; }
  .header h2 {
    font-size: 30px;
    margin: 10px; }
