<section ng-init="vm.init()">
	<md-content layout="row" layout-align="center center">
		<div flex="90">
			<div layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.isLoading">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<section ng-if="!vm.isLoading">
				<md-toolbar class="md-table-toolbar md-default green-light">
				  <div class="md-toolbar-tools">
						<span style="text-align: center;margin: auto;">Songs list</span>
				  </div>
				</md-toolbar>
				<md-input-container md-no-float class="md-block">
					<md-icon class="font-icon">search</md-icon>
					<input type="text" ng-model="vm.search" ng-change="vm.getSongsByName()" placeholder="Search...">
				</md-input-container>
				<md-table-container>
					<table md-table>
						<thead md-head>
							<tr md-row>
								<th md-column>ID</th>
								<th md-column>Title</th>
								<th md-column>Artists</th>
								<th md-column>Type</th>
								<th md-column md-numeric>BPM</th>
								<th md-column>Version</th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row ng-repeat="song in vm.songs | filter: search">
								<td md-cell>{{song.id}}</td>
								<td md-cell>
									<a ng-href="/#!/songs/{{song.id}}">
										{{song.title}}
									</a>
								</td>
								<td md-cell>{{song.artist.name}}</td>
								<td md-cell>
									<span ng-class="{
										'badge-green': song.type.id === 1,
										'badge-orange': song.type.id === 2,
										'badge-blue': song.type.id === 3,
										'badge-purple': song.type.id === 4
									}">
										{{song.type.name}}
									</span>
								</td>
								<td md-cell>{{song.bpm}}</td>
								<td md-cell>{{song.game_version.name}}</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				<md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.query.total}}" md-on-paginate="vm.getSongs" md-page-select></md-table-pagination>
			</section>
		</div>
	</md-content>
</section>
